
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Oops.  You've done something wrong.</title>

<link rel="stylesheet" id="skrollr-theme-css" href="/css/theme.css" type="text/css" media="all">
</head>
<body class="home blog slabtexted">
<h1>These are not the droids you're looking for</h1>
<h2><%= msg %></h2>
</body>
</html>
